<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Diseño y Programación de Simuladores Virtuales, Videojuegos<h1></h1>(2°año)</h1>
            </li>
            <p>
                Es una carrera en la cual te especializas en la produccion y el desarrolo de los videojuegos
            </p>
        </ul>
        <ul>
            <li>
                <h1>#YoProgramo 4ta edición<h1></h1>(Cursando)</h1>
            </li>
            <p>
                Curso del gobierno, para ayudar a las personas a comenzar en la programacion, continuacion de #Seprogramar2022
            </p>
        </ul>
        <ul>
            <li>
                <h1>#Seprogramar2022<h1></h1>(Finalizado)</h1>
            </li>
            <p>
                Inicios en la programacion gracias al programa gubernamental
            </p>
        </ul>
    </div>
</div>