<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor-container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Tienda Online</h2>
            <p>Una tienda online en la cual podes ver el producto de tu interes y agregarlo a tu carrito de compras, cuantas veces quieras</p>
        </div>
        <div class="col-sm-12 col-md-3 colo-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Tienda Online.jpeg"class="img-fluid img-proyecto">
        </div>
        <div class="contenedor-container">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Snake Game</h2>
                <p>El juego de la serpiente el cual entretuvo a muchos en su tiempo!</p>
            </div>
            <div class="col-sm-12 col-md-3 colo-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/Snake.jpeg"class="img-fluid img-proyecto">
            </div>
        </div>
    </div>
</div>
